<!DOCTYPE html>
<html>
    <head>
        <title>Admin Panel Froncubator</title>
        <meta charset="utf-8">
        <script backend-env></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!-- JS files from Libs -->
        <script src="/static/build/scripts/libs.js?version=1"></script>

        <!-- CSS files from Libs -->
        <link rel="stylesheet" type="text/css" href="/static/build/css/libs.css?version=1"/>

        <!-- Project JS file -->
        <script src="/static/build/scripts/build.js?version=1"></script>

        <!-- Project CSS -->
        <link rel="stylesheet" type="text/css" href="/static/build/css/build.css?version=1"/>

        <!-- <script src="//cdn.ckeditor.com/4.8.0/full/ckeditor.js"></script> -->
    </head>
    <body>  
        <div id="app">
            <router-view></router-view>
        </div>
    </body>
</html>
