<div class="auth-wrap">
    <div class="auth-img"></div>
    <form>
        <p class="h5 text-center mb-4 white-text">Sign in</p>
    
        <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input placeholder="Your email" type="text" id="defaultForm-email" class="form-control white-text">
        </div>
    
        <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input placeholder="Your password" type="password" id="defaultForm-pass" class="form-control white-text">
        </div>
    
        <div class="text-center">
            <button class="btn btn-blue-grey">Login</button>
        </div>
    </form>
</div>